<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Add to home screen for Safari on iOS-->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
<meta name="apple-mobile-web-app-title" content="möchtegerngeek"/>
<link rel="apple-touch-icon" href="/icons/icon-152x152.png"/>

<!-- Add to home screen for Windows-->
<meta name="msapplication-TileImage" content="/icons/icon-152x152.png"/>
<meta name="msapplication-TileColor" content="#b0cadb"/>
