{% macro publications(publications) %}
    <div class="publications">
        <ol class="publication">
            {% for publication in publications %}
                <li>
                    <h3 class="pub-title">
                        {{ publication.title }}
                    </h3>
                    <div class="pub-authors">{{ publication.authors }}</div>
                    <div class="pub-journalref">
                        <span class="pub-journal">{{ publication.journal }}</span>
                        <span class="pub-volume">{{ publication.volume }},</span>
                        <span class="pub-number">{{ publication.number }}</span>
                        (<span class="pub-year">{{ publication.year }}</span>)
                    </div>

                    <div class="pub-links">
                        <a class="pub-download" href="/pdf/{{ publication.pdf }}">Download <i class="fa fa-download"></i></a>,
                        <a class="pub-doi" href="https://dx.doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a>{% if publication.arxiv %},
                            <a class="pub-arxiv" href="https://arxiv.org/abs/{{ publication.arxiv }}">{{ publication.arxiv_long }}</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endmacro %}

{% macro preprints(preprints) %}
    <div class="publications">
        <ol class="publication">
            {% for preprint in preprints %}
                <li>
                    <h3 class="pub-title">
                        {{ preprint.title }}
                    </h3>
                    <div class="pub-authors">{{ preprint.authors }}</div>

                    <a class="pub-download" href="/pdf/{{ preprint.pdf }}">Download <i class="fa fa-download"></i></a>,
                    <a class="pub-arxiv" href="https://arxiv.org/abs/{{ preprint.arxiv }}">{{ preprint.arxiv_long }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endmacro %}
