ul.list-posts {
    padding-bottom: 0.4em;
    padding-top: 0.2em;
    list-style: none outside none;
}

ul.list-posts li time {
    color: #8F8F8F;
    display: inline-block;
    font: .9em 'PT Sans', 'Helvetica Neue', Arial, Sans-Serif;
    width: 7em;
}

.list-posts a {
    text-decoration: none;
}

ul.list-posts li {
    padding-bottom: 0.1em;
}

ul.list {
    list-style: none outside none;
    margin: 0 0 0 5px;
}
