.tag {
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-right: 0.2em;
}

.tag a {
    background: #EEE;
    border-radius: 3px;
    color: #222;
    margin: 2px;
    padding: 3px 6px;
    text-decoration: none;
}

.tag-count {
    font-size: .8em;
    vertical-align: super;
}

.search-tag {
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
}

.search-tag .tag {
    line-height: 1.5em;
}
