.post {
    padding-bottom: 3em;
}

.post-title {
    font: $font-title;
    color: $color-title;
    margin-bottom: 0.2em;
    margin-top: 0;
}
.post-title a:hover {
    border-bottom: none;
    text-decoration: none;
    text-shadow: none;
}

.post-meta {
    color: $color-subtitle;
    font: $font-subtitle;
    margin: 0;

    border-bottom: $border-bottom;
    padding-bottom: 5px;
}

.post-content {
    font: $font-post;
    color: $color-post;
    line-height: 1.4em;
}

.post-content h2 {
    font: $font-sectiontitle;
    color: $color-sectiontitle;
}

.post-content blockquote:before {
    color: $color-subtitle;
    content: '\f10d';
    font: 18px FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin-left: -2em;
    text-decoration: inherit;
    position:absolute;
}

.post-content blockquote {
    font: $font-quote;
    font-variant: normal;
    line-height: 1.7em;
    text-transform: none;
    font-weight: 300;
    position:relative;
}

h3.post-header {
    color: $color-subtitle;
    font: $font-subtitle;
    margin: 0;

    @media (min-width: $break-small) {
        padding-top: 0.8em;
        padding-left: 4px;
        position: absolute;

        transform: rotate(90deg);
        transform-origin: left top 0;
        float: left;
    }
}
