.tag {
    font: $font-tag;
    list-style: none;
    display: inline-block;

    background: $color-bg-tag;
    border-radius: 3px;
    color: $color-tag;

    padding: 0.3em;
}

.tag a {
    color: $color-tag;
    text-decoration: none;
    margin: 0.2em, 0.2em;
}

.category {
    @extend .tag;
    background: #555;
}

.category a {
    color: $color-bg-main;
}

.category-code {
    background: #5aba59;
}

.category-oneliner {
    background: #8156a7;
}

.category-tech {
    background: #4d85d1;
}

.category-misc {
    background: #777;
}
