$font-brand: 1.5em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-title: bold 2.2em 'Helvetica Neue', Helvetica, sans-serif;
$font-sectiontitle: bold 1.3em 'Helvetica Neue', Helvetica, sans-serif;
$font-subtitle: 0.9em 'Helvetica Neue', Helvetica, sans-serif;
$font-post: 1.2em Georgia, 'Cambria', serif;
$font-tag: 1em 'Helvetica Neue',Helvetica, sans-serif;
$font-quote: italic 1em Georgia, 'Cambria', serif;
$font-superscript: 0.8em;
$font-code: 'Courier New', Courier, monospace;

$color-post: #333;
$color-link: #3d92c9;
$color-title: #333;
$color-sectiontitle: #444;
$color-subtitle: #6F6F6F;
$color-sidebar: #fff;
$color-brand: #b0cadb;
$color-code: #383a42;
$color-tag: $color-post;

$color-bg-sidebar: #3d4f5d;
$color-bg-main: #fff;
$color-bg-code: #fafafa;
$color-bg-tag: #ddd;

$border-bottom: 1px solid #888;
$border: 1px solid rgba(0, 0, 0, 0.15);

$break-small: 64em;
$break-smallest: 35.5em;

@import 'social';   // colors for social media links
@import 'tags';     // colors and style for categories and tags
@import 'images';   // loads images by first loading a thumbnail
@import 'light';    // one light syntax highlighting (from atom)

@import 'lists';
@import 'post';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    letter-spacing: normal;
}

#layout {
    padding: 0;
}

// always show scrollbar for consistent width
html {
    overflow-y: scroll;
}

h3 {
    font-weight: 100;
}

#tipue_search_input {
    display: inline;
    width: 100%;
    max-width: 275px;
}

.search-query {
    margin-bottom: 1em;
    color: $color-post;
}

.center {
    margin: auto;
    display: block;
}

video {
    width: 100%;
    max-width: 1000px;
    max-height: 600px;
    height: auto;
    margin: auto;
    display: block;
}

video.not-found-video {
    max-width: 912px;
    width: 100%
}

.fixed-size-400 {
    max-width: 400px;
    width: 100%
}
.fixed-size-800 {
    max-width: 800px;
    width: 100%
}

.header {
    text-align: center;
    top: auto;
    margin: 2em auto 1em auto;

    @media screen and (min-width: $break-small)
    {
        margin: 80% 2em 0;
        text-align: right;
    }
}

.sidebar {
    background: $color-bg-sidebar;
    color: $color-sidebar;

    @media screen and (min-width: $break-small) {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    @media print {
        display: none;
    }
}

a {
    text-decoration: none;
    color: $color-link;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.title a {
    text-decoration: none;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    // text-transform: uppercase;
}
.brand-title a {
    font: $font-brand;
    color: $color-brand;
    text-decoration: none;
}

.brand-tagline {
    font-weight: 300;
    color: $color-brand;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-bottom: 0.3em;
}
.nav-item a {
    background: transparent;
    border: 2px solid $color-brand;
    color: $color-sidebar;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid $color-link;
    text-decoration: none;
}

.container {
    margin-top: 0.7em;
}

.content-subhead {
    text-transform: uppercase;
    color: $color-subtitle;
    border-bottom: $border-bottom;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
    @media (min-width: $break-small) {
        padding: 2em 3em 0;
        margin-left: 25%;
        max-width: 1200px;
    }
}

.title {
    font: $font-title;
    color: $color-title;
}

.MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
}

#last-update {
    color: #51697b;
    font-size: 0.7em;
    position: fixed;
    bottom: 0;
    left: 0;

    @media (max-width: $break-small) {
        display: none;
    }
}

code {
    font-family: Courier, monospace;
    padding: 2px 4px;
    /* pygments style */
    background-color: $color-bg-code;
    color: $color-code;
    border: $border;
}

pre {
    font-family: Courier, monospace;
    padding: 9.5px;
    border: $border;
}

.post-navigation {
    border-top: $border-bottom;
}
.separatordot {
    padding-left: 1em;
    padding-right: 1em;
}
.pagination {
    width: 90%;
    margin: 1em auto;
    text-align: center;
}

.tags-in-article {
    margin-left: 0.5em;
}

.languages-in-article {
    margin-right: 0.5em;
}

span.count {
    font: $font-superscript;
    vertical-align: super;
}

.sep-line {
    border-bottom: $border-bottom;
}

.search-tag {
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
}

.search-tag .tag {
    line-height: 1.5em;
}
