{% macro list_related(publication, documents) %}
    {% if publication.related %}
        <div class="pub-related">
            {% trans %}Related{% endtrans %}:
            {% for id in publication.related %}
                {% set related = documents[id] %}
                <a class="pub-download nowrap"
                    {% if related.pdf %}
                        href="/pdf/{{ related.pdf }}"
                    {% else%}
                        href="{{ related.link }}"  rel="nofollow noopener" target="_blank"
                    {% endif %}
                >
                    <span
                    {% if related.type == "thesis" %}
                        title="{% trans %}Thesis{% endtrans %}: {{ related.title }}">
                        <i class="fas fa-book-open fa-fw" aria-hidden="true" ></i>
                    {% elif related.type == "talk" %}
                        title="{% trans %}Talk{% endtrans %}: {{ related.title }}">
                        <i class="fas fa-comment fa-fw" aria-hidden="true"></i>
                    {% elif related.type == "poster" %}
                        title="{% trans %}Poster{% endtrans %}: {{ related.title }}">
                        <i class="fas fa-file fa-fw" aria-hidden="true"></i>
                    {% elif related.type == "video" %}
                        title="{% trans %}Video{% endtrans %}: {{ related.title }}">
                        <i class="fab fa-youtube fa-fw" aria-hidden="true"></i>
                    {% elif related.type == "data" %}
                        title="{% trans %}Video{% endtrans %}: {{ related.title }}">
                        <i class="fas fa-database fa-fw" aria-hidden="true"></i>
                    {% endif %}
                        {{ related.short }}
                    </span>
                </a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro publications(publications, documents) %}
    <div class="publications">
        <ol class="publication" reversed>
            {% for publication in publications|reverse %}
                <li>
                    <div class="pub-container">
                        <div class="pub-title">{{ publication.title }}</div>
                        <div class="pub-authors">{{ publication.authors }}{% if publication.alphabetical %} <i class="fas fa-sort-alpha-down" title="authors ordered alphabetically"></i>{% endif %}</div>
                        <div class="pub-journalref">
                            <span class="pub-journal">{{ publication.journal }}</span>
                            <span class="pub-volume">{{ publication.volume }},</span>
                            <span class="pub-number">{{ publication.number }}</span>
                            (<span class="pub-year">{{ publication.year }}</span>)
                            {% if publication.bonus %} <span class="pub-bonus">{{ publication.bonus }}</span>{% endif %}
                        </div>

                        <div class="pub-links">
                            {% if publication.comment %}
                                <!-- {{ publication.comment }} -->
                            {% endif %}
                            <a class="pub-download nowrap" href="/pdf/{{ publication.pdf }}"><i class="fas fa-download" aria-hidden="true"></i> {% trans %}Download{% endtrans %}</a>,
                            <a class="pub-doi nowrap" href="https://dx.doi.org/{{ publication.doi }}" rel="nofollow noopener" target="_blank" aria-label="DOI"><i class="ai ai-doi" aria-hidden="true"></i> {{ publication.doi }}</a>{% if publication.arxiv %},
                                <a class="pub-arxiv nowrap" href="https://arxiv.org/abs/{{ publication.arxiv }}" rel="nofollow noopener" target="_blank"><i class="ai ai-arxiv" aria-hidden="true"></i> {{ publication.arxiv_long }}</a>
                            {% endif %}
                        </div>

                        {% if publication.supplementary %}
                        <div class="pub-supplementary">
                            Supplementary:
                            {% for id in publication.supplementary %}
                                {% set supp = documents[id] %}
                                <a class="pub-download nowrap"
                                    {% if supp.pdf %}
                                        href="/pdf/{{ supp.pdf }}"
                                    {% else %}
                                        href="{{ supp.link }}" rel="nofollow noopener" target="_blank"
                                    {% endif %}
                                >
                                {% if supp.type == "text" %}
                                    <i class="fas fa-file-alt fa-fw" aria-hidden="true" title="{% trans %}Text{% endtrans %}"></i>
                                {% elif supp.type == "code" %}
                                    <i class="fas fa-code fa-fw" aria-hidden="true" title="{% trans %}Code{% endtrans %}"></i>
                                {% endif %}
                                <span class="pub-supp-title">{{ supp.title }}</span>
                                </a>{% if not loop.last %}, {% endif %}
                                <!-- <a class="pub-doi nowrap" href="https://dx.doi.org/{{ supp.doi }}" rel="nofollow noopener" target="_blank" aria-label="DOI"><i class="ai ai-doi" aria-hidden="true"></i> {{ supp.doi }}</a> -->
                            {% endfor %}
                        </div>
                        {% endif %}

                        {{ list_related(publication, documents) }}
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endmacro %}

{% macro preprints(preprints, documents, num=1) %}
    <div class="publications">
        <ol class="publication" start="{{ num + preprints|length - 1 }}" reversed>
            {% for preprint in preprints|reverse %}
                <li>
                    <div class="pub-title">{{ preprint.title }}</div>
                    <div class="pub-authors">{{ preprint.authors }}</div>

                    <div class="pub-links">
                        <a class="pub-download nowrap" href="/pdf/{{ preprint.pdf }}"><i class="fas fa-download" aria-hidden="true"></i> {% trans %}Download{% endtrans %}</a>,
                        <a class="pub-arxiv nowrap" href="https://arxiv.org/abs/{{ preprint.arxiv }}" rel="nofollow noopener" target="_blank"><i class="ai ai-arxiv" aria-hidden="true"></i> {{ preprint.arxiv_long }}</a>
                    </div>

                    {{ list_related(preprint, documents) }}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endmacro %}
