{% macro publications(publications) %}
    <div class="publications">
        <ol class="publication">
            {% for publication in publications %}
                <li>
                    <div class="pub-container">
                        <div class="pub-title">{{ publication.title }}</div>
                        <div class="pub-authors">{{ publication.authors }}</div>
                        <div class="pub-journalref">
                            <span class="pub-journal">{{ publication.journal }}</span>
                            <span class="pub-volume">{{ publication.volume }},</span>
                            <span class="pub-number">{{ publication.number }}</span>
                            (<span class="pub-year">{{ publication.year }}</span>)
                        </div>

                        <div class="pub-links">
                            {% if publication.comment %}
                                <!-- {{ publication.comment }} -->
                            {% endif %}
                            <a class="pub-download nowrap" href="/pdf/{{ publication.pdf }}"><i class="fas fa-download" aria-hidden="true"></i> {% trans %}Download{% endtrans %}</a>,
                            <a class="pub-doi nowrap" href="https://dx.doi.org/{{ publication.doi }}" rel="nofollow" rel="noopener" target="_blank" aria-label="DOI"><i class="ai ai-doi" aria-hidden="true"></i> {{ publication.doi }}</a>{% if publication.arxiv %},
                                <a class="pub-arxiv nowrap" href="https://arxiv.org/abs/{{ publication.arxiv }}" rel="nofollow" rel="noopener" target="_blank"><i class="ai ai-arxiv" aria-hidden="true"></i> {{ publication.arxiv_long }}</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endmacro %}

{% macro preprints(preprints, num=1) %}
    <div class="publications">
        <ol class="publication" start="{{ num }}">
            {% for preprint in preprints %}
                <li>
                    <div class="pub-title">{{ preprint.title }}</div>
                    <div class="pub-authors">{{ preprint.authors }}</div>

                    <div class="pub-links">
                        <a class="pub-download nowrap" href="/pdf/{{ preprint.pdf }}"><i class="fas fa-download" aria-hidden="true"></i> {% trans %}Download{% endtrans %}</a>,
                        <a class="pub-arxiv nowrap" href="https://arxiv.org/abs/{{ preprint.arxiv }}" rel="nofollow" rel="noopener" target="_blank"><i class="ai ai-arxiv" aria-hidden="true"></i> {{ preprint.arxiv_long }}</a>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endmacro %}
