{% macro settings() %}
    <i id="timeline-settings" class="fas fa-cog fa-fw" aria-hidden="true" title="{% trans %}Settings{% endtrans %}"></i>
{% endmacro %}

{% macro timeline(events, documents) %}
    <ul class="timeline-vis-list hidden">
        {% for category, info in TIMELINE_CATEGORIES.items() %}
            {% if category in events|map(attribute="type") %}
                <li>
                <label title="{{ _(info[2]) }}">
                    <input type="checkbox" class="timeline-checkbox" data-category="{{ category }}">
                    <i class="fas {{ info[1] }} fa-fw" aria-hidden="true" title="{{ _(info[0]) }}"></i>
                    {{ _(info[0]) }}
                </label>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="timeline">
        {% for event in events|sort(reverse=True, attribute='date') %}
            <div class="timeline-item {{ event.type }}" data-date='{{ event.date.strftime(DATE_FORMATS[DEFAULT_LANG]) }}'>
                <div class="timeline-title">
                    <span class="timeline-symbol">
                        <i class="fas {{ TIMELINE_CATEGORIES[event.type][1] }} fa-fw" aria-hidden="true" title="{{ _(TIMELINE_CATEGORIES[event.type][0]) }}"></i>
                    </span>
                    {% if event.teaching %}
                    {{ _(TEACHING_TYPES[event.teaching]) }}:
                    {% endif %}
                    {{ event.name }}{% if event.link %} <a class="timeline-link" href="{{ event.link }}" rel="nofollow" rel="noopener" target="_blank"><i class="link-symbol fas fa-external-link-alt"></i></a>{% endif %},
                    {{ event.place }}, {{ _(event.country) }}
                </div>
                {% for id in event.presentations %}
                    {% set presentation = documents[id] %}
                    <div class="timeline-presentation-item">
                        {% if presentation.type == "thesis" %}
                            <i class="fas fa-book-open fa-fw" aria-hidden="true" title="{% trans %}Thesis{% endtrans %}"></i>
                        {% elif presentation.type == "talk" %}
                            <i class="fas fa-comment fa-fw" aria-hidden="true" title="{% trans %}Talk{% endtrans %}"></i>
                        {% elif presentation.type == "poster" %}
                            <i class="fas fa-file fa-fw" aria-hidden="true" title="{% trans %}Poster{% endtrans %}"></i>
                        {% elif presentation.type == "video" %}
                            <a class="nowrap link-nohighlight" href="{{ presentation.link }}">
                                <i class="fab fa-youtube fa-fw" aria-hidden="true" title="{% trans %}Video{% endtrans %}"></i>
                            </a>
                        {% endif %}
                        <span class="timeline-presentation">{{ presentation.title }},</span>
                        {% if presentation.pdf %}
                            <a class="timeline-download nowrap" href="/pdf/{{ presentation.pdf }}"><i class="fas fa-download" aria-hidden="true"></i> {% trans %}Download{% endtrans %}</a>
                        {% endif %}
                        {% if presentation.link %}
                            <a class="timeline-download nowrap" href="{{ presentation.link }}"><i class="fas fa-eye" aria-hidden="true"></i> {% trans %}View{% endtrans %}</a>
                        {% endif %}
                        {% if presentation.doi %}
                            <a class="timeline-doi nowrap" href="https://dx.doi.org/{{ presentation.doi }}" rel="nofollow" rel="noopener" target="_blank" aria-label="DOI"><i class="ai ai-doi" aria-hidden="true"></i> {{ presentation.doi }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
