{% extends 'base.html' %}

{% block title %}
404 · {{ super() }}
{% endblock title %}

{% block head_description %}
{% trans %}Diese Seite existiert nicht.{% endtrans %}
{% endblock head_description %}

{% block content %}
    <h2 class="title">{% trans %}Seite nicht gefunden{% endtrans %}</h2>

    {% trans %}Anscheinend existiert diese Seite nicht. <a href="/">Hier geht es zur Startseite.</a>{% endtrans %}
    <div class="center">
        <video poster="/theme/img/404.png" loop autoplay class="center not-found-video">
            <source src="/theme/vid/404.webm" type="video/webm; codecs=vp9,vorbis">
            <source src="/theme/vid/404.mp4" type="video/mp4">
        </video>
    </div>
{% endblock content %}

{% block script %}
{% endblock script %}
