{% extends 'base.html' %}

{% block title %}
404 · {{ super() }}
{% endblock title %}

{% block head_description %}
{% trans %}Diese Seite existiert nicht auf{% endtrans %} {{ SITENAME|striptags|e }}.
{% endblock head_description %}

{% block content %}
    <h2 class="title">{% trans %}Seite nicht gefunden{% endtrans %}</h2>

    <p class="error-detail">
    {% trans %}Anscheinend existiert diese Seite nicht. Vielleicht hilft Ihnen die Suche?{% endtrans %}
    </p>
    <div class="input-append">
        <form class="pure-form" action="{{ SITEURL }}/search.html">
            <fieldset>
                <input type="text" class="search-query" placeholder="{% trans %}Suche{% endtrans %}" name="q" id="tipue_search_input_404" aria-label="{% trans %}Suche{% endtrans %}">
            </fieldset>
        </form>
    </div>

    <div class="center">
        <video poster="/theme/img/404.png" loop autoplay class="center not-found-video">
            <source src="/theme/vid/404.webm" type="video/webm; codecs=vp9,vorbis">
            <source src="/theme/vid/404.mp4" type="video/mp4">
        </video>
    </div>
{% endblock content %}
