{% extends 'base.html' %}

{% block title %}
Archiv · {{ super() }}
{%- endblock title %}

{% block head_description %}
Vollständiges Archiv von {{ SITENAME|striptags|e }}.
{%- endblock head_description %}

{% block content %}
    <h2 class="title"><a href="{{ SITEURL }}/archives.html">Archiv</a></h2>

    {% set years = {} %}
    {% set count = {} %}
    {% for post in dates %}
        {% set year = post.date.strftime('%Y') %}
        {% if not year in years %}
            {% if count.update({year: 0}) %}{% endif %}
        {% endif %}
        {% if years.update({post.date.strftime('%Y'): None}) %}{% endif %}
    {% endfor %}

    <ul class="list">
        {% for year in years.keys() %}
            <li>
                <div class="tag" id="{{ year }}-ref">
                    <a href="#{{ year }}-ref">
                        {{ year }}{# <span class="count">{{ count[year] }}</span> #}
                    </a>
                </div>
                <ul class="list-posts">
                    {% for post in dates %}
                        {% if post.date.strftime('%Y') == year %}
                            <li>
                                <time datetime="{{ post.date.isoformat() }}">{{ post.locale_date }}</time>
                                <a href="{{ SITEURL }}/{{ post.url }}">{{ post.title }} {%if post.subtitle %} <small> {{ post.subtitle }} </small> {% endif %}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
