{% extends 'base.html' %}

{% block title %}
    {{- article.title|striptags|e }} {%if article.subtitle %} - {{ article.subtitle|striptags|e }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
    {%- if article.summary %}
    {{- article.summary|striptags|e }}
    {%- endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
    {% if article.tags or article.category or article.keywords %}
    <meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}">
    {% endif %}

    {% from '_includes/smo_metadata.html' import smo_metadata with context %}
    {{ smo_metadata(article) }}
{% endblock meta_tags_in_head %}

{% block content %}
    {% import '_includes/post.html' as p with context %}
    {{ p.post(article) }}

    <div class="pure-u-1 pure-u-md-1-4"></div>
    <div class="post-navigation pure-u-1 pure-u-md-3-4">
        {% include '_includes/related_posts.html' with context %}
        <nav class="pagination">
            {% if article.next_article %}
                <a href="{{ SITEURL }}/{{ article.next_article.url }}">&larr;&nbsp;Neuer</a>
            {% endif %}
            {% if article.prev_article and article.next_article %}
                <span class"separatordot">&middot;</span>
            {% endif %}
            {% if article.prev_article %}
                <a href="{{ SITEURL }}/{{ article.prev_article.url }}">Älter&nbsp;&rarr;</a>
            {% endif %}
            <br>
        </nav>
    </div>
{% endblock content %}

{% block script %}
    {{ super() }}
    {% from '_includes/comments.html' import comments_script with context %}
    {{ comments_script(article) }}
{% endblock script %}
