<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock %}</title>
    <meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION|e }}{% endblock %}">

    <meta name="author" content="{{ AUTHOR }}">
    <meta name="copyright" content="{{ AUTHOR }}">

    <meta name="theme-color" content="#3d4f5d">

    <link rel="manifest" href="/manifest.json">

    {% include 'includes/icons.html' %}

    <meta property="og:site_name" content="{{ SITENAME|striptags|e }}">
    <meta property="og:article:author" content="{{ AUTHOR }}">

    {% if TWITTER_USERNAME %}
        <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
    {% endif %}
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary">

    {% block meta_tags_in_head %}
        {% include 'includes/smo_metadata.html' %}

        <meta property="og:title" content="{{ self.title() }}">
        <meta name="twitter:title" content="{{ self.title() }}">

        <meta property="og:description" content="{{ self.head_description() }}">
        <meta name="twitter:description" content="{{ self.head_description() }}">

        <meta property="og:url" content="{{ SITEURL }}">

        {% if FEATURED_IMAGE %}
            <meta property="og:image" content="{{ FEATURED_IMAGE }}">
            <meta name="twitter:image" content="{{ FEATURED_IMAGE }}">
        {% endif %}
    {% endblock %}

    {% if lang_siteurls %}
        {% for lang, url in lang_siteurls.items() %}
        <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}/{{ output_file }}" />
        {% endfor %}
        <link rel="alternate" hreflang="x-default" href="{{ main_siteurl }}/{{ output_file }}" />
    {% endif %}

    {% block head_links %}
        <!-- use cdn, because many clients will have it already cached -->
        {% assets filters="cssmin", output="css/main.css",
            "css/pure-min.css",
            "css/grids-responsive-min.css",
            "sass"
        %}
            <link rel="stylesheet" type="text/css" href="/{{ ASSET_URL }}" />
        {% endassets %}
        {% assets filters="cssmin", output="fontawesome/css/main.css",
            "fontawesome/css/fontawesome.css",
            "fontawesome/css/brands.css",
            "fontawesome/css/solid.css"
        %}
            <link rel="stylesheet" type="text/css" href="/{{ ASSET_URL }}" />
        {% endassets %}
        {% assets filters="cssmin", output="academicons/css/main.css",
            "academicons/css/academicons.css"
        %}
            <link rel="stylesheet" type="text/css" href="/{{ ASSET_URL }}" />
        {% endassets %}
    {% endblock head_links %}

    {% block feed_links %}
    {% include 'includes/feeds.html' %}
    {% endblock feed_links %}

    {% include 'includes/analytics.html' %}
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-lg-1-4">
        <div class="header">
            <h1 class="brand-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
            {% if SITESUBTITLE %}<h2 class="brand-tagline">{{ SITESUBTITLE }}</h2>{% endif %}

            <div class="container">
                {% if extra_siteurls %}
                    {% for lang, url in extra_siteurls.items() %}
                        <div class="nav-item">
                            <a class="pure-button{% if lang == DEFAULT_LANG %} active{% endif %}"
                                {% if lang == "en" %}
                                    onclick="switch_language_en()"
                                {% elif lang == "de" %}
                                    onclick="switch_language_de()"
                                {% endif %}
                                href="{{ url }}/"><i
                                {% if lang == "en" %}
                                    class="fas fa-globe-americas"
                                {% else %}
                                    class="fas fa-globe-europe"
                                {% endif %}
                                ></i> {{ lang }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for entry in SOCIAL %}
                    {# handle links and no-links differently #}
                    {% if entry[1] %}
                        <a href="{{ entry[1] }}" title="{{ entry[0] }}" class="sidebar-social-links" target="_blank" rel="noopener">
                            <i class="{% if entry|length > 2 %}{{ entry[2] }}{% else %}fab fa-{{ entry[0]|lower }}{% endif %} sidebar-social-links"></i>
                        </a>
                    {% else %}
                        <i class="fas sidebar-social-links" title="{{ entry[0] }}">{{ entry[2] }}</i>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-lg-3-4">
        {% block content %}
        {% endblock content %}
    </div>

    <div id="last-update">
        <time datetime="{{ NOW.isoformat() }}">{{ NOW.strftime("%H:%M:%S %d.%m.%Y") }}</time>
    </div>
</div>

{% block script %}
    <script src="/theme/js/lang.js"></script>
    {% if DEFAULT_LANG == main_language %}
    <script>
        init_language("{{ DEFAULT_LANG }}");
    </script>
    {% endif %}
    <script>console.log("Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn")</script>
    <script type="text/javascript" src="/theme/fx/rythm.js"></script>
    <script type="text/javascript" src="/theme/fx/totally_serious_script.js"></script>
{% endblock script %}

</body>
</html>
