<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock %}</title>
    <meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION|e }}{% endblock %}">

    <meta name="author" content="{{ AUTHOR }}">
    <meta name="copyright" content="{{ AUTHOR }}">

    <meta name="theme-color" content="#3d4f5d">

    <link rel="manifest" href="/manifest.json">

    {% include '_includes/icons.html' %}

    <meta property="og:site_name" content="{{ SITENAME|striptags|e }}">
    <meta property="og:article:author" content="{{ AUTHOR }}">

    {% if TWITTER_USERNAME %}
        <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
    {% endif %}
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary">

    {% block meta_tags_in_head %}
        {% include '_includes/smo_metadata.html' %}

        <meta property="og:title" content="{{ self.title() }}">
        <meta name="twitter:title" content="{{ self.title() }}">

        <meta property="og:description" content="{{ self.head_description() }}">
        <meta name="twitter:description" content="{{ self.head_description() }}">

        <meta property="og:url" content="{{ SITEURL }}">

        {% if FEATURED_IMAGE %}
            <meta property="og:image" content="{{ FEATURED_IMAGE }}">
            <meta name="twitter:image" content="{{ FEATURED_IMAGE }}">
        {% endif %}
    {% endblock %}

    {% if lang_siteurls %}
        <link rel="alternate" hreflang="{{ main_lang }}" href="{{ main_siteurl }}/{{ output_file }}" />
        {% for lang, url in extra_siteurls.items() %}
        <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}/{{ output_file }}" />
        {% endfor %}
        <link rel="alternate" hreflang="x-default" href="{{ main_siteurl }}/{{ output_file }}" />
    {% endif %}


    {% block head_links %}
        {% assets filters="cssmin", output="css/main.css",
            "css/pure-min.css",
            "css/grids-responsive-min.css",
            "tipuesearch/tipuesearch.css"
        %}
            <link rel="stylesheet" type="text/css" href="/{{ ASSET_URL }}">
        {% endassets %}
        <link rel="stylesheet" type="text/css" href="/theme/css/blog.css">

        <!-- use cdn, because many clients will have it already cached -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <!-- Also preload the other fonts early -->
        <link rel="preload" href="/theme/woff2/Vollkorn-Regular.woff2" as="font" crossorigin="anonymous">
        <link rel="preload" href="/theme/woff2/FiraCode-Regular.woff2" as="font" crossorigin="anonymous">
    {% endblock head_links %}

    {% block feed_links %}
    {% include '_includes/feeds.html' %}
    {% endblock feed_links %}

    {% include '_includes/analytics.html' %}
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-lg-1-4">
        <div class="header">
            <h1 class="brand-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
            {% if SITESUBTITLE %}<h2 class="brand-tagline">{{ SITESUBTITLE }}</h2>{% endif %}

            <nav class="nav">
                <ul class="nav-list container">
                    {% if extra_siteurls %}
                        {% for lang, url in extra_siteurls.items() %}
                        <li class="nav-item">
                            <a class="pure-button{% if lang == DEFAULT_LANG %} active{% endif %}" href="{{ url }}/"><i class="fa fa-globe"></i> {{ lang }}</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="pure-button" href="{{ SITEURL }}/categories.html">{% trans %}Kategorien{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{{ SITEURL }}/tags.html">{% trans %}Tags{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{{ SITEURL }}/archives.html">{% trans %}Archiv{% endtrans %}</a>
                    </li>
                </ul>
            </nav>

            <div class="container">
                {% for entry in SOCIAL %}
                    {# handle links and no-links differently #}
                    {% if entry[1] %}
                        <a href="{{ entry[1] }}" title="{{ entry[0] }}" class="sidebar-social-links" target="_blank" rel="noopener">
                            <i class="fa fa-{% if entry|length > 2 %}{{ entry[2] }}{% else %}{{ entry[0]|lower }}{% endif %} sidebar-social-links"></i>
                        </a>
                    {% else %}
                        <i class="fa sidebar-social-links" title="{{ entry[0] }}">{{ entry[2] }}</i>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="container">
                <form class="pure-form" action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
                    <fieldset>
                        <input type="text" class="search-query" placeholder="Suche" name="q" id="tipue_search_input" aria-label="Suche">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-lg-3-4">
        {% block content %}
        {% endblock content %}
    </div>

    <div id="last-update">
        <time datetime="{{ NOW.strftime("%Y-%m-%d %H:%M:%S") }}">{{ NOW.strftime("%H:%M:%S %d.%m.%Y") }}</time>
    </div>
</div>

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script>
        function validateForm(query)
        {
            return (query.length > 0);
        }
    </script>
    <script src="/theme/js/img.js"></script>
    <script src="/service-worker-registration.min.js"></script>
    <script>console.log("Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn")</script>
    <script type="text/javascript" src="/theme/fx/rythm.js"></script>
    <script type="text/javascript" src="/theme/fx/totally_serious_script.js"></script>
{% endblock script %}

</body>
</html>
