{% extends 'base.html' %}

{% block title %}
Kategorien · {{ super() }}
{% endblock title %}

{% block head_description %}
Kategorien von {{ SITENAME|striptags|e }}.
{% endblock head_description %}

{% block feed_links %}
{{ super() }}
{% include '_includes/feeds_categories.html' %}
{% endblock feed_links %}

{% block content %}
    <h2 class="title"><a href="{{ SITEURL }}/categories.html">Alle Kategorien</a></h2>

    <ul class="list">
        {% for category, posts in categories %}
            <li>
                <div class="category category-{{ category.slug }}">
                    <a href="#{{ category.slug }}-ref">
                        {{ category }}<span class="category-count">{{ posts|count }}</span>
                    </a>
                </div>
                <div id="{{ category.slug }}-ref">
                    <ul class="list-posts">
                        {% for article in posts %}
                        <li>
                            <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
        {% endfor %}
    </ul>
{% endblock content %}
