{% extends 'base.html' %}

{% block content %}
    {% import 'includes/additional_text.html' as a with context %}
    {% import 'includes/publications.html' as p with context %}
    {% import 'includes/timeline.html' as t with context %}

    {% for article in articles %}
        {{ a.paste(article) }}
    {% endfor %}

    <h2>{% trans %}Publications{% endtrans %}</h2>
    {{ p.publications(publication_details, DOCUMENTS) }}

    <h2>{% trans %}Preprints{% endtrans %}</h2>
    {{ p.preprints(preprint_details, publication_details|length + 1) }}

    <h2>{% trans %}Timeline{% endtrans %}</h2>
    {{ t.timeline(EVENTS, DOCUMENTS) }}
{% endblock %}
