{% extends 'base.html' %}

{% block meta_tags_in_head %}
    {% if FEATURED_IMAGE %}
        <meta property="og:image" content="{{FEATURED_IMAGE}}">
        <meta name="twitter:image" content="{{FEATURED_IMAGE}}">
    {% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
    {% import '_includes/publications.html' as p with context %}
    {% import '_includes/timeline.html' as t with context %}

    <h2>Publications</h2>
    {{ p.publications(publication_details) }}

    <h2>Preprints</h2>
    {{ p.preprints(preprint_details, publication_details|length + 1) }}

    <h2>Timeline</h2>
    {{ t.timeline(EVENTS) }}
{% endblock %}
