{% extends 'base.html' %}

{% block meta_tags_in_head %}
    {% if FEATURED_IMAGE %}
        <meta property="og:image" content="{{FEATURED_IMAGE}}">
        <meta name="twitter:image" content="{{FEATURED_IMAGE}}">
    {% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
    {% import '_includes/post.html' as p with context %}

    {# show the pinned post on the first page of the index #}
    {% if PINNED_POST and articles_page.number == 1 and page_name == "index" %}
        <h3 class="post-header">Vorgeschlagener Eintrag</h3>
        <div class="post-pinned">
            {% for article in articles %}
                {% if article.slug == PINNED_POST %}
                    {{ p.post(article) }}
                {% endif %}
            {% endfor %}
        </div>

        {# if there is no pinned post, we do not have to differentiate
            the other posts #}
        <h3 class="post-header">Neuste Einträge</h3>
    {% endif %}

    <div class="posts">
        {% for article in articles_page.object_list %}
            {# do not show the pinned post twice on one page #}
            {% if articles_page.number != 1 or (PINNED_POST and article.slug != PINNED_POST) or page_name != "index" %}
                {{ p.post(article) }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="post-navigation">
        <nav class="pagination">
            {% if articles_page.has_previous() %}
                <a href="/{{ articles_previous_page.url }}">&larr;&nbsp;Neuer</a>
            {% endif %}
            {% if articles_page.has_previous() and articles_page.has_next() %}
                <span class="separatordot">&middot;</span>
            {% endif %}
            {% if articles_page.has_next() %}
                <a href="/{{ articles_next_page.url }}">Älter&nbsp;&rarr;</a>
            {% endif %}
            <br>
            {{ articles_page.number }} / {{ articles_paginator.num_pages }}
        </nav>
    </div>
{% endblock %}
