{% extends 'base.html' %}

{% block title %}
{% trans %}Suche{% endtrans %} · {{ super() }}
{%- endblock title %}

{% block head_description %}
{% trans %}Suchergebnisse{% endtrans %}.
{%- endblock head_description %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {% assets filters="rjsmin", output="tipuesearch/tipuesearch.packed.min.js",
            "tipuesearch/tipuesearch_set.js",
            "tipuesearch/tipuesearch.min.js"
    %}
        <script src="/{{ ASSET_URL }}"></script>
    {% endassets %}
    <script>
        $(document).ready(function() {
             $('#tipue_search_input').tipuesearch({
                 {% if 'tipue_search' in PLUGINS %}
                     'mode' : 'json',
                 {% else %}
                     'mode': 'live',
                 {% endif %}
                 'show': 10,
                 'newWindow': false,
                 {# I cannot place following statements in the conditionals above because then Tipue Search fails to work. Possibly a bug in Tipue Search. #}
                 {% if 'tipue_search' in PLUGINS %}
                     'contentLocation': 'tipuesearch_content.json'
                 {% else %}
                     'liveDescription': '.article-content'
                 {% endif %}
             });
        });
    </script>
{% endblock script %}

{% block content %}
<article>
    <div class="pure-u-md-3-4">
        <div id="tipue_search_content">
            <div id="tipue_search_loading"></div>
        </div>
    </div>
</article>
{% endblock content %}
