{% extends 'base.html' %}

{% block title %}
Suche · {{ super() }}
{%- endblock title %}

{% block head_description %}
Suchergebnisse.
{%- endblock head_description %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {% assets filters="rjsmin", output="tipuesearch/tipuesearch.packed.min.js",
            "tipuesearch/tipuesearch_set.js",
            "tipuesearch/tipuesearch.min.js",
            "js/tipue.js"
    %}
        <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock script %}

{% block content %}
<article>
    <div class="pure-u-md-3-4">
        <div id="tipue_search_content">
            <div id="tipue_search_loading"></div>
        </div>
    </div>
</article>
{% endblock content %}
