{% extends 'base.html' %}

{% block title %}
{% trans %}Suche{% endtrans %} · {{ super() }}
{%- endblock title %}

{% block head_description %}
{% trans %}Suchergebnisse{% endtrans %}.
{%- endblock head_description %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="tipuesearch_content.js"></script>

    {% assets filters="rjsmin", output="tipuesearch/tipuesearch.min.js",
            "tipuesearch/tipuesearch_set.js",
            "tipuesearch/tipuesearch.js"
    %}
        <script src="/{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        $(document).ready(function() {
            $('#tipue_search_input').tipuesearch({
                'showRelated': false,
            });
        });
    </script>
{% endblock script %}

{% block content %}
<article>
    <div class="pure-u-md-3-4">
        <div id="tipue_search_content">
            <div id="tipue_search_loading"></div>
        </div>
    </div>
</article>
{% endblock content %}
