{% extends 'base.html' %}

{% block title %}
Tags · {{ super() }}
{%- endblock title %}

{% block head_description %}
Alle Tags.
{%- endblock head_description %}

{% block feed_links %}
{{ super() }}
{% include '_includes/feeds_tags.html' %}
{% endblock feed_links %}

{% block content %}
    <h2 class="title"><a href="{{ SITEURL }}/tags.html">Alle Tags</a></h2>

    <div class="search-tag sep-line">
        <form class="pure-form">
            <input type="text" class="input-medium search-query filterinput" placeholder="Finde einen Tag">
        </form>
        <span class="list-of-tags">
            {% for tag, posts in tags|sort %}
                <span class="tag">
                    <a href="#{{ tag.slug }}-ref">
                        {{ tag }}{# <span class="count">{{ posts|count }}</span> #}
                    </a>
                </span>
            {% endfor %}
        </span>
    </div>

    <ul class="list">
        {% for tag, posts in tags|sort %}
            <li>
                <div class="tag" id="{{ tag.slug }}-ref">
                    <a href="#{{ tag.slug }}-ref">
                        {{ tag }}{# <span class="count">{{ posts|count }}</span> #}
                    </a>
                </div>
                <div>
                    <ul class="list-posts">
                        {% for article in posts|sort(reverse = true, attribute = 'date') %}
                            <li>
                                <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block script %}
{{ super() }}
    {% assets filters="rjsmin", output="js/tag_search.min.js",
            "js/tag_search.js"
    %}
        <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock script %}
